<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}">

<head>
  {{ block "load_paginator" . }}{{ end }}
  {{ partial "meta.html" . }}
  {{ partial "title.html" . }}
  {{ partial "link.html" . }}
  {{ partial "load_site_assets.html" . }}
  {{ block "load_page_assets" . }}
    {{ with .Content }}{{ end }}
  {{ end }}
  {{ partial "assets.html" . }}
</head>

<body>
  {{ partialCached "banner.html" . }}
  <div id="gradient"></div>
  <main class="container">
    {{ block "main" . }}{{ end }}
  </main>
  {{ partialCached "footer.html" . }}
</body>

</html>
