{{ with site.Params.footer }}
  <footer class="Footer">
    <div class="text-center my-3">
      <a class="bmc-button" target="_blank" href="https://www.buymeacoffee.com/thatgurjot">
        <img src="https://cdn.buymeacoffee.com/buttons/bmc-new-btn-logo.svg" alt="Buy me a coffee">
        <span style="margin-left:5px;font-size:1rem !important;">Buy me a coffee</span>
      </a>
    </div>
    <div class="u-wrapper">
      <div class="u-padding u-noboosting">
        <a href="/privacy" class="footer-link">Privacy Policy</a> | <a href="/tos" class="footer-link">Terms of Service | <a href="/feedback" class="footer-link">Feedback</a>
      </div>
      <div class="u-padding u-noboosting">
        {{ safeHTML . }}
      </div>
    </div>
  </footer>
{{ end }}