{{ $base_css := resources.Get "css/base.tpl.css" | resources.ExecuteAsTemplate "css/base.css" . }}

{{ $site_css := $base_css }}

{{ with site.Params.css }}
  {{ $css_list := slice $site_css }}
  {{ range . }}
    {{ $custom_css := resources.Get . }}
    {{ $css_list = $css_list | append $custom_css }}
  {{ end }}
  {{ $site_css = $css_list | resources.Concat "css/base.css" }}
{{ end }}

{{ minify $site_css | fingerprint | .Page.Scratch.SetInMap "css" "base" }}

{{ with site.Params.js }}
  {{ $js_list := slice }}
  {{ range . }}
    {{ $custom_js := resources.Get . }}
    {{ $js_list = $js_list | append $custom_js }}
  {{ end }}
  {{ $site_js := $js_list | resources.Concat "js/base.js" }}
  {{ minify $site_js | fingerprint | $.Page.Scratch.SetInMap "js" "base" }}
{{ end }}

<script data-goatcounter="https://buzee-site.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>

<link href="/custom.css" rel="stylesheet">
<link href="/bootstrap/bootstrap.min.css" rel="stylesheet">
<link href="/bootstrap/bootstrap-icons.min.css" rel="stylesheet">
<script src="/bootstrap/bootstrap.bundle.min.js"></script>